<%= button_to "Home", "/rabbitsburgers", method: :get %>
<br>
<div class="backgroundshow">
	<h2> <%= @burger.name %> Ingredients </h2>
</div>
<br>
<br>
<br>


<% @burger.ingredients.each do |ingredient| %>
	<div class="showingre">
		<h3><%= ingredient.name %></h3>
	</div>
	<br>
	<br>
<% end %>


<br>






<br>
<% if @burger.name == "Cilantro and Salsa Verde on Classic Bun" %>
	<div class="cilantropic">
		<br>
		<br> 
		<br>
		<br>
		<img src="/images/CilantroSalsaVerde.JPG" alt="CilantroBurger" width="500" height="350">
	</div>
<% end %>

<% if @burger.name == "Egg Breakfast Burger with TaterTots" %>
	<div class="cilantropic">
		<br>
		<br> 
		<br>
		<br>
		<img src="/images/breakfast2.jpg" alt="Egg Breakfast Burger With Tater Tots" width="500" height="350">
	</div>
<% end %>