// Place all the styles related to the apidatas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checkoutbackground {
    background-image:url(../img/finishcuttingboard.jpg);
    -moz-background-size:cover;
    background-size:cover;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-attachment:fixed;
    position:relative;
}

.containercheckout {
	font-size: 200%;
    color: aliceblue;
    font-weight: bolder;
    text-shadow: 2px 2px seagreen;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    border: 5px solid #3c763d;
    display: inline-block;
    width: 350px;
    margin: 8px;
    padding: 3px;
    padding-right: 20px;
    padding-left: 20px;
    background: rgba(12, 6, 5, 0.6);

}

// .checkoutbackground {
	// background-color:black;
 //    opacity: .7;
 //    height:100%;
 //    width:100%;



    // font-family:'Kreon',serif;
