/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
head {
	background-image: url('logo.JPG');
	background-size: 800px 140px;
	background-position: center-top;
	z-index: 999;

}
body {
	background-image: url('logo4.png'),
					  url('vegtables.png');
	background-size: 150px 150px, 1300px, 1500px;
	background-position: center top, left top;
	background-repeat: no-repeat;
}



.floatlefthook {
	font-size: 140%;
 	padding-left:30px;
  	padding-right:30px;
  	background-color: #3CB371;
  	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
	padding-left:30px;
  	padding-right:30px;
  	padding-top: 2px;
  	text-align: center;
  	float:left;
 	color: #8B0000;
 	font-weight: bolder;
	font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;

.logo {

}

}

.floatleft {
    float:left;
    font-family:Papyrun, Arial;
	font-size: 200%;
	background-color: #3CB371;
	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
 	padding-left:30px;
  	padding-right:30px;

}
.floatright {
    float:right;
    font-family:Papyrun, Arial;
	font-size: 150%;
	background-color: #3CB371;
	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
	padding-left:30px;
  	padding-right:30px;
}

.floatleftburger {
	position: center;
	font-family: Papyrus, fantasy;
	font-size: 20px;
	font-weight: bolder;
	background-color: #3CB371;
	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
	padding-left:10px;
  	padding-right:10px;
  	padding-top: 2px;
}