// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.floatleftuser {
	float:left;
    font-family:Papyrun, Arial;
	font-size: 100%;
	background-color: #3CB371;
	outline-style: solid;
	outline-color: #000000;
	outline-width: 3px;
 	padding-left:30px;
  	padding-right:30px;
  }