<!DOCTYPE html>
<html>
  <head>
    <title>RabbitsBurgers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 
  
    <%= yield %>
  </body>
</html>

	<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="container">
  			<a class="navbar-brand" href="/rabbitsburgers">Rabbit's Burgers</a>
  		</div>
	</nav>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
  			<a class="navbar-brand-login" href="/login">Login</a>
  		</div>
	</nav> -->